/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */

// Supports weights 300-700
@import "~@fontsource-variable/cormorant-garamond/wght.css";

// Supports weights 100-900
@import "~@fontsource-variable/dm-sans/wght.css";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src:
    url("~material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular.woff2") format("woff2"),
    url("~material-design-icons-iconfont/dist/fonts/MaterialIcons-Regular.woff") format("woff");
  font-display: swap;
}
