/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
$module-name: ps-imageslider;

.#{$module-name} {
  &__figure {
    margin-block-end: 0;

    img {
      height: 80vh;
      object-fit: cover;
      object-position: 10% center;
    }
  }

  &__figcaption {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-20%);
    bottom: auto;

    h1,
    p {
      margin-block-end: 0;
    }

    h1 {
      font-size: 4rem;
      font-weight: normal;
      margin-left: -14px;
    }
  }

  @include media-breakpoint-up(md) {
    &__figcaption {
      right: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__figcaption {
      left: 50%;
      right: 0;
    }

    h1 {
      font-size: 6rem;
    }
  }

  .carousel-control-next,
  .carousel-control-prev,
  .carousel-indicators {
    display: none;
  }
}
