/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
$module-name: ps-imageslider;

.#{$module-name} {
  &__figure {
    margin-block-end: 0;

    img {
      height: auto;
    }
  }

  &__figcaption {
    color: var(--bs-light);
    background-color: rgba(var(--bs-dark-rgb), 0.5);
    border-radius: var(--bs-border-radius);
    backdrop-filter: blur(10px);

    p {
      margin-block-end: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    &__figure {
      height: 320px;

      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__figure {
      height: 240px;
    }
  }

  // Temporary fixes

  .carousel-control-next,
  .carousel-control-prev,
  .carousel-indicators {
    display: none;
  }

  .carousel-caption {
    background: linear-gradient(
      90deg,
      rgba(244, 241, 229, 0) 0%,
      rgba(244, 241, 229, 0.4) 20%,
      rgba(244, 241, 229, 0.7) 50%,
      rgba(244, 241, 229, 0.4) 80%,
      rgba(244, 241, 229, 0) 100%
    );
    max-width: 24rem;
    left: 0;
    right: 0;
  }

  .carousel .carousel-caption .caption-description {
    max-width: none;
  }

  .carousel-caption p,
  .carousel-caption .h2,
  .carousel-caption h2 {
    color: #ae8439;
  }

  .carousel-caption p {
    font-family: "Playfair Display", serif;
  }

  .carousel-caption .h2,
  .carousel-caption h2 {
    font-size: 1rem;
    text-align: center;
  }

  .carousel-caption button {
    font-family: Inter, sans-serif;
    text-align: center;
    background: #ae8439;
    color: #ffffff;
    padding: 8px 24px;
    border-width: 0;
    border-radius: 8px;
  }

  .carousel-item .carousel-content > img {
    object-position: top 0 right -250px;
  }

  @include media-breakpoint-down(md) {
    .carousel-caption {
      left: 5%;
      right: 5%;
    }

    .carousel-item .carousel-content > img {
      object-position: top 0 right 0;
    }
  }

  @include media-breakpoint-down(lg) {
    .carousel-caption {
      left: 5%;
      right: 30%;
    }
  }
}
